<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Books</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<div class="container century gothic">
<body class="grey">
    
  </div>
<div class="container">
  <div class="profile details">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="C:\Users\mikey\Desktop\SoftwareDev\IMG_20180315_113025.jpg" alt="" class="circle">
      <span class="title">Aministrator</span>
      <p> Derrick Murithi <br>
         
      </p>
  </div>

  <div class="container">
    <div> 
      <h3>FEATURES</h3>
    </div>

  <p>
     <a href="#!" class="secondary-content"><i class="material-icons">settings</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons square">book</i>
      <span class="title">Catalogue</span>
      <p>View all books in the library catalogue<br> 
         <a href="http://materializecss.com/getting-started.html" id="register-button" class="btn-large waves-effect waves-light  yellow">View Books</a>
      </p>


      <a href="#!" class="secondary-content"><i class="material-icons">settings</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle ">book</i>
      <span class="title">Add Books</span>
      <p>Stock books in the library<br>
        <a href="http://materializecss.com/getting-started.html" id="register-button" class="btn-large waves-effect waves-light  yellow">Add Books</a>
      </p>

  <br>


        <a href="#!" class="secondary-content"><i class="material-icons">settings</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle ">book</i>
      <span class="title">Modify Books</span>
      <p>Change details of the available books <br>
         <a href="http://materializecss.com/getting-started.html" id="register-button" class="btn-large waves-effect waves-light  yellow">Modify Books</a>
      </p>


      <a href="#!" class="secondary-content"><i class="material-icons">settings</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle ">book</i>
      <span class="title">Delete Books</span>
      <p>Remove bookd from yhe library catalogue <br>
        <a href="http://materializecss.com/getting-started.html" id="register-button" class="btn-large waves-effect waves-light  yellow">Delete Books</a>
      </p>
  </p>
  </div>
  </ul>
</div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</div>
</html>