<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Books</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body class="yellow">
  
<div class="row">
    <div class="col s3">
    
      <nav class="grey">
            <div class="nav-wrapper">
                    <form>
                      <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                      </div>
                    </form>
                  </div>
      </nav>
    </div>  



  <div class="col s9  z-depth-2">
 <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="C:\Users\mikey\Desktop\SoftwareDev\Mindset - Carol Dweck.jpg">
            </div>
            <div class="card-content">
              <p>Synopsis</p>
            </div>
            <div class="card-action">
               <div class="card-action">
              <a href="#">Rent Me ;)</a>
            </div>
          </div>
        </div>
      </div>


   <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="C:\Users\mikey\Desktop\SoftwareDev\Tony Robbins - Unshakeable Your Financial Freedom Playbook.jpg">
            </div>
            <div class="card-content">
              <p>Synopsis</p>
            </div>
            <div class="card-action">
              <a href="#">Rent Me ;)</a>
            </div>
          </div>
        </div>
      </div>
  </div>



   <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="C:\Users\mikey\Desktop\SoftwareDev\robert-greene-mastery.jpg">
            </div>
            <div class="card-content">
              <p>Synopsis</p>
            </div>
            <div class="card-action">
              <a href="#">Rent Me ;)</a>
            </div>
          </div>
        </div>
      </div>

<div class="row center">
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="C:\Users\mikey\Desktop\SoftwareDev\Rick Warren -The Purpose Driven Life.jpg">
                </div>
                <div class="card-content">
                  <p>Synopsis</p>
                </div>
                <div class="card-action">
                  <a href="#">Rent Me ;)</a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
  
</div>
</div>



  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>