<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Books</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<div class="container">
<body class=" teal accent-3">
    <div class="row">

<div class="container">
  <div class="profile details">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="C:\Users\mikey\Desktop\SoftwareDev\Tony Robbins - Unshakeable Your Financial Freedom Playbook.jpg" alt="" class="circle">
      <span class="title">Client</span>
      <p>Derrick Murithi <br>
      </p>
  </div>

  <div class="container">
    <div> 
      <h3> HISTORY</h3>
    </div>

     <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons square green">book</i>
      <span class="title">Rented Books</span>
      <p>Rick Warren - Purpose driven Life<br> 
         Carol Dweck - Mindset
      </p>


      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle ">book</i>
      <span class="title">Retuned Books</span>
      <p>Grit  <br>
         Tools of the Titans
      </p>

  </div>
  </ul>

  <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large flash_on yellow">View Books</a>
  </div>
</div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</div>
</html>
            