<!DOCTYPE html>
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <title>Hello Books</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	
  </head>
  
  <body class=" solid yellow">

	  <nav class="yellow" role="navigate">
			<div class="nav-wrapper">
			  <a href="#" class="brand-logo center large white-text">HELLO BOOKS</a>
			  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons floating btn-black">menu</i></a>
			  <ul id="nav-mobile" class="yellow-text left hide-on-med-and-down">
				  <li><a href="#" class="grey-text">Home</a></li>
				  <li><a href="C:\Users\mikey\HelloBooks\registration.html" class="grey-text">Register</a></li>
			  </ul>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
				  <li><a href="C:\Users\mikey\HelloBooks\Log-in.html" class="grey-text">Log In</a></li>
				  <li><a href="collapsible.html" class="grey-text">About Us</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
				    <li><a href="#" class="grey-text">Home</a></li>
					<li><a href="C:\Users\mikey\HelloBooks\registration.html" class="grey-text">Register</a></li>
					<li><a href="C:\Users\mikey\HelloBooks\Log-in.html" class="grey-text">Log in</a></li>
					<li><a href="collapsible.html" class="grey-text">About Us</a></li>
				</ul>
			</div>
		</nav>


	
 <div class="parallax-container">
    
        <b></b>
        <div class="background"><img src="https://i.pinimg.com/736x/af/d7/1c/afd71c7c6f675eb54991c87d2aa0bea9--wallpaper-bookshelf-book-wallpaper.jpg"/>
        </div>
        <h1 class="header center grey-text "> A modern way to library</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large flash_on grey">Get Started</a>
        </div>
        <b></b>
      
  </div>
    


  <div class="white">
    <div class="section">

      <div class="row">

        <div class="col  m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons medium">gps_fixed</i></h2>
            <h5 class="center">Easy to track</h5>

            <p class="light center">Get your histroy without any hustle</p> 
          </div>
        </div>
       
        <div class="col  m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons medium">add_shopping_cart</i></h2>
            <h5 class="center">Easy to rent</h5>

            <p class="light center">Simple as clicking a button</p> 
          </div>
        </div>
       

        <div class="col m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons medium">location_on</i></h2>
            <h5 class="center">Easy to Find</h5>
            <p class="light center">Find the book you need in a few seconds</p> 
          </div>
        </div>

      </div>
    </div>
  </div>


	
	<div class="background"><img src="https://i.pinimg.com/736x/af/d7/1c/afd71c7c6f675eb54991c87d2aa0bea9--wallpaper-bookshelf-book-wallpaper.jpg"/>
    </div>

			
	<footer class="page-footer  blue-grey darken-4">
		<div class="container">
		<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text"></h5>
			<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Let's interact</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2018 Copyright Text
		<a class="grey-text text-lighten-4 right" href="#!">Powered by Andela</a>
	</div>
</div>
</footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
  </body>
</html>
	  