<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Books</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<div class="container">
<body>

  <header>
    <h1>REGISTER</h1>
    
  </header>

<div class= "container">

 <div class="row">
   <form class="col s12">
    
        <div class="input-field col s6" name="First Name">
          <i class="material-icons prefix">account_box</i>
          <input  id="First Name" type="text" class="validate">
          <label for="First Name">First Name</label>
        </div>

  </div>


  <div class="row">
    <form class="col s12">
        <div class="input-field col s6" name="Second Name">
          <i class="material-icons prefix">account_box</i>
          <input  id="Second Name" type="text" class="validate">
          <label for="Second Name">Second Name</label>
        </div>
  </div>

  <div class="row">
    <div class="input-field col s6" name="Email">
      <i class="material-icons prefix">email</i>
      <input id="icon-email" type="email" class="validate">
      <label for="icon_email">Email</label>
    </div>
  </div>



  <div class="row">
    <div class="input-field col s6" name="Password">
      <i class="material-icons prefix">lock</i>
      <input id="icon-password" type="password" class="validate">
      <label for="icon_password">Password</label>
    </div>
  </div>


    </form>

    <div class="row left">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large flash_on yellow">Register</a>
  </div>

</div>
  

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</div>
</html>